$text-color: black; // darkslategrey;

.review-form {
  background-color: whitesmoke !important;
}

.review-main-header {
  color: $text-color !important;
}

.color-text {
  color: $text-color !important;
}
